/*+++++++++++++++++++++++ media query +++++++++++++++++++++++*/
/* css_responsive_web_01.html */

@charset "utf-8";

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo-Regular';
  src: url('../fonts/heebo-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Heebo-Regular'), local('Heebo Regular'),
       url('../fonts/heebo-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v12-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo-Medium';
  src: url('../fonts/heebo-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Heebo-Medium'), local('Heebo Medium'),
       url('../fonts/heebo-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v12-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo-Bold';
  src: url('../fonts/heebo-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Heebo-Bold'), local('Heebo Bold'),
       url('../fonts/heebo-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v12-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-900 - latin */
@font-face {
  font-family: 'Heebo-Black';
  src: url('../fonts/heebo-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Heebo-Black'), local('Heebo Black'),
       url('../fonts/heebo-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v12-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v12-latin-900.svg#Heebo') format('svg'); /* Legacy iOS */
}


body { font-family: "Heebo Regular"; }
hr { width: 100%; height: 1px; background: #445150; }
div.inner_wrap { width: 100%; max-width: 1132px; margin: 0 auto; }
h2 { font-family: "Heebo Black"; font-size: 1.875em; color: #444; }

button.more > a { padding: 0.313em 1.25em; background: #fff; font-family: "Heebo Medium"; color: #1d1d1d; }
button.more > a:hover { background: #1d1d1d; color: #fff; }

.title_wrap { position: relative; width: 100%; max-width: 1132px; margin: 0 auto; }
.title_wrap > h2 { display: inline-block; position: relative; }
.title_wrap > h2::before { content:""; display: block; position: absolute; left: -10px; top: 50%; width: 100vw; height: 1px; background: #1d1d1d; transform: translateX(-100%); }
.title_wrap > h2::after { content:""; display: block; position: absolute; right: -10px; top: 50%; width: 100vw; height: 1px; background: #1d1d1d; transform: translateX(100%); }

.scroll_disable { height: 100%; overflow: hidden; }


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!CSS_RESPONSIVE_MOBILE!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ====== mobile(start) ====== */
@media screen and (max-width: 767px)  {





   header div.inner_wrap { display: flex; }
   header::before { content:""; display: none; position: fixed; left:0; top: 0; z-index: 101; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.65); }
   header.on::before { display: block; }
   
   header h1 { position: absolute; top: 4.25vw; left: 50%; transform: translateX(-50%); width: 67px; height: 50px; z-index: 100; }
   header h1 a { display: block; width: 100%; height: 100%; background: url("../images/tk_logo.png") no-repeat; background-size: cover; }
   
   header label.search_wrap { position: absolute; top: 6.2500vw; left: 6.2500vw; z-index: 110; }
   header label.search_wrap input { display: block; position: absolute; top: 7px; left: -20px; border-radius: 5px; width: 0; border: none; appearance: none; outline: none; transform: translateX(50px); transition: width 0.2s; }
   header label.search_wrap[class ~= "inp"] > input { width: 70px; vertical-align: middle; }
   header label.search_wrap button.btn_search { width: 26px; height: 26px; background: url("../images/icon_search.png") no-repeat;  background-size: cover;}
   
   header div.menu_wrap { position: absolute; top: 6.2500vw; right: 6.2500vw; z-index: 110; }
   header div.menu_wrap button { width: 27px; height: 27px; background: url("../images/img_common_btn_menu.png") no-repeat; background-size: cover; }
   header.on div.menu_wrap button { position: fixed; top: 7.5vw; right: 6.2500vw; z-index: 110; background: url("../images/img_on_btn_menu.png") no-repeat; background-size: cover; z-index: 110; } 
   
   header nav { width: 100vw; height: 100vh; position: fixed; left: 100%; top: 0; background: #1d1d1d; z-index: 101; padding: 75px 0 0 0; transform: translateX(0%); transition: transform 0.3s;}
   header.on nav { transform: translateX(-100%); }
   nav ul.sub_menu { overflow: hidden; height: 100%; overflow-y: scroll; } 
   nav ul.sub_menu li span.btn_sub { position: relative; padding-left: 20px; }
   nav ul.sub_menu span.btn_sub::after { content:""; position: absolute; left:40px; bottom: 10px; width: 70px; height: 1px; background: #a17b9b; }

   nav ul.sub_menu li > ul > li { display: block; width: 100%; height: 30px; line-height: 2; padding-left: 10px; } 
   nav ul.first, ul.second { overflow: hidden; width: 100%; height:0; padding-left: 30px; transition: height 0.3s; }

	nav span.btn_sub { display: block; position: relative; width: 100%; height: 2.5em; font-family: "Heebo Black"; font-size: 1.125em; line-height: 2; color: #fff; }


   nav ul.sub_menu li.ticket ul.first:nth-of-type(1)[class ~= active] { height: 90px; background: #a17b9b; }
   nav ul.sub_menu li.ticket ul.second:nth-of-type(2)[class ~= active] { height: 90px; background: #a17b9b; }
   
   nav ul.sub_menu li.event ul.first:nth-of-type(1)[class ~= active] { height: 60px; background: #a17b9b; }
   nav ul.sub_menu li.event ul.second:nth-of-type(2)[class ~= active] { height: 90px; background: #a17b9b; }
   
   nav ul.sub_menu li.story ul.first:nth-of-type(1)[class ~= active] { height: 90px; background: #a17b9b; }
   nav ul.sub_menu li.story ul.second:nth-of-type(2)[class ~= active] { height: 90px; background: #a17b9b; }
   
   nav ul.sub_menu li.about ul.first:nth-of-type(1)[class ~= active] { height: 90px; background: #a17b9b; }
   nav ul.sub_menu li.about ul.second:nth-of-type(2)[class ~= active] { height: 60px; background: #a17b9b; }


   nav button.sub_title { position: relative; width: 100%; height: 30px; padding-left: 40px; font-size : 1em; font-family:"Heebo Medium"; color: #fff; }
   nav button.original::after { content: "∨"; position: absolute; right: 30px; font-size: 1em; transform: translateY(-10%); }
   nav ul.sub_menu button.change::after { content: "∧"; position: absolute; right: 30px; font-size: 1em; transform: translateY(-10%); } 
   nav ul.sub_menu li.sub_li a { display: block; width: 100%; height: 100%; font-size : 0.875em; color: #fff; }
   
   
   nav div.rel { display: flex; position: relative; width: 100%; }
   nav div.hours { width: 54%; }
   nav div.hours p { position: relative; margin-top: 100px; margin-left: 12.90625vw; font-size: 0.85em; color: #fff; }
   nav div.hours p::before { content:""; position: absolute; top: -15px; left: -63px; width: 50px; height: 50px; background: url("../images/one_source_multi.png") no-repeat -118px -35px;}
   
   

   
   
   
   
   footer { overflow: hidden; padding: 20px 0; background: #193634; color: #fff; font-size : 0.813rem; }
   footer hr { margin: 10px 0;}
   footer div.sns { display: flex; height: 30px; margin: 0 6.5104vw; font-size : 0.813rem; }
   footer div.sns p { margin-top: 5px; margin-right: 10px;  }
   footer div.sns_wrap a { display: inline-block; width: 30px; height: 30px; } 
   footer div.sns_wrap a:nth-child(1) { background: url("../images/one_source_multi.png") no-repeat 0 0; }
   footer div.sns_wrap a:nth-child(2) { background: url("../images/one_source_multi.png") no-repeat -35px 0; }
   footer div.sns_wrap a:nth-child(3) { background: url("../images/one_source_multi.png") no-repeat -70px 0; }
   footer div.sns_wrap a:nth-child(4) { background: url("../images/one_source_multi.png") no-repeat -105px 0; }
   
   footer div.info_wrap { margin: 0 6.25vw; } 
   footer div.info_wrap > ul > li { float: left; width: 50%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
   footer div.info_wrap button { padding: 10px 0; color: #fff; font-size : 0.813rem; }
   footer div.info_wrap ul li ul { padding-left: 0.625em; }
   footer div.info_wrap > ul > li > ul > li { padding: 3px 0; }
   footer div.info_wrap a { color: #fff; font-size : 0.75rem; }
   
   footer div.help { width: 100%; padding: 0 6.25vw; }
   footer div.help a { float: left; width: 50%; padding: 3px 0; color: #fff; font-size : 0.75rem; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
   footer p.copyright { clear: both; text-align: center; color: inherit; font-size : 0.75rem; padding-top: 15px; }
   
   footer a#arrow { opacity: 0; position: fixed; bottom: 2em; right: 2em; cursor: pointer; transition: all 0.3s ease-in-out; }
   footer i.fas { font-size: 50px; color: #515151; } 
   footer a#arrow.visible { opacity: 1; }












}

/* ====== mobile(end) ====== */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!CSS_RESPONSIVE_TABLE!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ====== tablet(start) ====== */

@media screen and (min-width: 768px) and (max-width: 1024px)  {


   header div.inner_wrap { display: flex; }
   header::before { content:""; display: none; position: fixed; left: 0; top: 0; z-index: 101; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.65); }
   header.on::before { display: block; }
   
   header h1 { position: absolute; top: 2.3438vw; left: 50%; transform: translateX(-50%); width: 100px; height: 80px; z-index: 100; }
   header h1 a { display: block; width: 100%; height: 100%; background: url("../images/tk_logo.png") no-repeat; background-size: cover; }
   
   header label.search_wrap { position: absolute; top: 3.255208vw; left: 3.255208vw; z-index: 110;}
   header label.search_wrap input { display: block; position: absolute; top: 8px; left: 0; border-radius: 5px; width: 0; height: 20px; border: 0; appearance: none; outline: none; transform: translateX(50px); transition: width 0.2s; }
   header label.search_wrap[class ~= "inp"] > input { width: 110px; vertical-align: middle; }
   header label.search_wrap button.btn_search { width: 36px; height: 36px; background: url("../images/icon_search.png") no-repeat; background-size: cover; }
   
   header div.menu_wrap { position: absolute; top: 28px; right: 3.255208vw; z-index: 110; }
   header div.menu_wrap button { width: 38px; height: 32px; background: url("../images/one_source_multi.png") no-repeat -41px -34px; }
   header.on div.menu_wrap button { position: fixed; top: 32px; right: 3.255208vw; z-index: 110; background: url("../images/one_source_multi.png") no-repeat -80px -36px; z-index: 110; } 
   
   header nav { width: 100vw; height: 100vh; position: fixed; left: 100%; top: 0; background: #1d1d1d; z-index: 101; padding: 60px 4.90625vw 0 4.90625vw; transform: translateX(0%); transition: transform 0.3s;}
   header.on nav { overflow: hidden; transform: translateX(-100%); overflow-y: scroll; }
   header nav ul.sub_menu { height: 86%; margin-top: 20px; } 
   header nav ul.sub_menu li span.btn_sub { position: relative; width: 50%; margin-bottom: 15px; }
   header nav ul.sub_menu span.btn_sub::after { content:""; position: absolute; left: 40px; bottom: 10px; width: 108px; height: 1px; background: #a17b9b; }
   header nav ul.sub_menu > li { transform: translateX(30%);}
   header nav ul.sub_menu li > ul > li { display: block; width: 100%; padding-left: 10px; } 
   header nav ul.sub_menu > li > ul { padding-left: 20px; }

	nav span.btn_sub { display: block; position: relative; width: 100%; height: 2.5em; font-family:"Heebo Black";  font-size: 1.375em; line-height: 2; color: #fff;} 


   nav li.ticket { float: left; width: 50%; margin-bottom: 20px; }
   nav li.event { float: right; width: 50%; margin-bottom: 20px; }
   nav li.story { float: left; width: 50%; }
   nav li.about { float: right; width: 50%;  } 
   nav li.sub_li { overflow: hidden; height: 30px; }

   
   nav ul.sub_menu > li > ul { width: 100%; height: 110px; }
   
   nav button.sub_title { position: relative; margin-bottom: 15px; padding-left: 20px; font-size : 1.25em; font-family:"Heebo Medium"; color: #fff; }
   nav button.sub_title::before { content: ""; position: absolute; left: 10px; top: 0; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 0; border-color: #a17b9b transparent transparent transparent;}
   nav ul.sub_menu li.sub_li > a { font-size : 1em; color: #fff; }
   
   
   nav div.rel { position: relative; margin-top: 10px; }
   nav div.hours { position: absolute; width: 60%; }
   nav div.hours p { position: absolute; left: 175px; font-size: 1em; color: #fff; }
   nav div.hours p::before { content:""; position: absolute; top: -25px; left: -70px; width: 50px; height: 50px; background: url("../images/one_source_multi.png") no-repeat -118px -35px;}
   nav div.weather { position: absolute; left: 455px; width: 50%; color: #fff; }
   nav div.weather_sub { position: absolute; top: -25px; }
   nav div.CurrIcon i.fas::before { font-size: 50px; color: #a17b9b; }
   nav div.CurrIcon { display : inline-block; }
   nav div.CurrTemp { display : inline-block; font-size: 1.25em; margin-left: 20px; }
   nav div.City { display : inline-block; margin-left: 10px; font-size: 1em; }




   
   footer { padding: 20px 0; margin-top: 100px; background: #193634; color: #fff; font-size : 1em; }
   footer hr { margin: 10px 0;}
   footer div.sns { display: flex; height: 30px; margin: 0 6.5104vw; font-size : 0.938em; }
   footer div.sns p { margin-top: 5px; margin-right: 10px;  }
   footer div.sns_wrap a { display: inline-block; width: 30px; height: 30px; } 
   footer div.sns_wrap a:nth-child(1) { background: url("../images/one_source_multi.png") no-repeat 0 0; }
   footer div.sns_wrap a:nth-child(2) { background: url("../images/one_source_multi.png") no-repeat -35px 0; }
   footer div.sns_wrap a:nth-child(3) { background: url("../images/one_source_multi.png") no-repeat -70px 0; }
   footer div.sns_wrap a:nth-child(4) { background: url("../images/one_source_multi.png") no-repeat -105px 0; }
   
   footer div.info_wrap { margin: 0 0 0 6.5104vw; } 
   footer div.info_wrap > ul { display: flex; justify-content: space-between; width: 100%; }
   footer div.info_wrap button { padding: 5px 0 10px 0; color: #fff; font-size : 0.938em; }
   footer div.info_wrap a { color: #fff; font-size : 0.813em; }
   
   footer div.help { display: flex; justify-content: space-between; width: 100%; padding: 0 3.2083vw; }
   footer div.help a { display: inline-block; color: #fff; font-size : 0.75em; text-align: center; }
   footer p.copyright { text-align: center; color: inherit; font-size : 0.75em; padding-top: 15px; }
   
   footer a#arrow { opacity: 0; position: fixed; bottom: 2em; right: 2em; cursor: pointer; transition: all 0.3s ease-in-out; }
   footer i.fas { font-size: 50px; color: #515151; } 
   footer a#arrow.visible { opacity: 1; }





}

/* ====== tablet(end) ====== */



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!CSS_RESPONSIVE_WEB!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ====== desktop(start) ====== */
@media screen and (min-width: 1025px) {



header div.inner_wrap { display: flex; }
header::before { content:""; display: none; position: fixed; left:0; top: 0; z-index: 101; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.65); }
header.on::before { display: block; }

header h1 { position: absolute; top: 2.3438vw; left: 12%; width: 114px; height: 85px; z-index: 100; }
header h1 a { display: block; width: 100%; height: 100%; background: url("../images/tk_logo.png") no-repeat; background-size: cover; }
header label.search_wrap { position: absolute; top: 2.2vw; right: 7.5vw; z-index: 110; }
header label.search_wrap input { display: block; position: absolute; top: 10px; right: 110px; border: 0; border-radius: 5px; width: 0; height: 20px; appearance: none; outline: none; transform: translateX(50px); transition: width 0.2s; }
header label.search_wrap[class ~= "inp"] > input { width: 150px; vertical-align: middle; }
header label.search_wrap button.btn_search { width: 38px; height: 38px; background: url("../images/icon_search.png") no-repeat; background-size: cover; margin-right: 10px; }
header div.menu_wrap { position: absolute; top: 2.2vw; right: 4.4vw; z-index: 110; }
header div.menu_wrap button { width: 38px; height: 38px; background: url("../images/img_common_btn_menu.png") no-repeat; background-size: contain; }
header.on button.btn_menu { width: 34px; height: 34px; position: fixed; top: 2.3vw; right: 5.4vw; z-index: 110; background: url("../images/img_on_btn_menu.png") no-repeat; background-size: cover; z-index: 110; } 

nav { width: 78vw; height: 100vh; position: fixed; left: 100%; top: 0; background: #1d1d1d; z-index: 101; padding: 100px 3.90625vw 20px 3.90625vw; transform: translateX(0%); transition: transform 0.3s;}
header.on nav { transform: translateX(-100%); background-color: #1d1d1d; }
/* background: url(../images/roller_coaster.png) no-repeat; background-size: cover; background-position: bottom; */
nav ul.sub_menu { width: 80%; margin: 0 auto; margin-top: 30px; }
nav ul.sub_menu > li { float: left; width: 25%; padding-left: 30px; }

nav ul.sub_menu span.btn_sub { position: relative; font-size: 1.563em; font-family:"Heebo Black"; color: #fff; }

nav ul.sub_menu span.btn_sub::before { content:""; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; transition: all 0.3s ease-in-out; transition-duration: 0.5s; opacity: 0; background: #a17b9b; }
nav ul.sub_menu > li:hover span.btn_sub::before { width: 100%; opacity: 1; }

nav ul.sub_menu > li > ul { width: 100%; height: 150px; }
nav ul.sub_menu > li > ul.first { height: 150px; } 
nav ul.sub_menu > li > ul > li { padding: 6px 0;}
nav ul.sub_menu > li > ul > li:hover a { color: #a17b9b; }

nav button.sub_title { position: relative; display: block; margin: 15px 0; padding-left: 10px; font-size : 1.125em; font-family:"Heebo Medium"; color: #fff; }
nav ul.sub_menu li:hover button.sub_title::before { content: ""; position: absolute; left: 0; top: 0; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 0; border-color: #a17b9b transparent transparent transparent;}
nav ul.sub_menu li:hover button.sub_title::before { content: ""; position: absolute; left: 0; top: 0; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 0; border-color: #a17b9b transparent transparent transparent;}
nav ul.sub_menu li.sub_li > a { padding-left: 20px; font-size : 0.85em; color: #fff; }


nav div.rel { position: relative; margin-top: 100px; }
nav div.hours { position: absolute; width: 50%; }
nav div.hours p { position: absolute; left: 250px; font-size: 1em; color: #fff; }
nav div.hours p::before { content:""; position: absolute; top: -25px; left: -70px; width: 50px; height: 50px; background: url("../images/one_source_multi.png") no-repeat -118px -35px;}
nav div.weather { position: absolute; left: 500px; width: 50%; height: 50px; color: #fff; }
nav div.weather_sub { position: absolute; top: -25px; }
nav div.CurrIcon i.fas::before { font-size: 50px; color: #a17b9b; }
nav div.CurrIcon { display : inline-block;}
nav div.CurrTemp { display : inline-block; font-size: 1em; margin-left: 20px; }
nav div.City { display : inline-block; margin-left: 10px; font-size: 1em; }




footer { padding: 20px 0; margin-top: 104px; background: #193634; color: #fff; font-size : 1em; }
footer hr { margin: 10px 0;}
footer div.sns { display: flex; width: 100%; height: 30px; margin: 0 auto; padding: 0 25vw;}
footer div.sns p { margin-top: 5px; margin-right: 10px;  }
footer div.sns_wrap a { display: inline-block; width: 30px; height: 30px; } 
footer div.sns_wrap a:nth-child(1) { background: url("../images/one_source_multi.png") no-repeat 0 0; }
footer div.sns_wrap a:nth-child(2) { background: url("../images/one_source_multi.png") no-repeat -35px 0; }
footer div.sns_wrap a:nth-child(3) { background: url("../images/one_source_multi.png") no-repeat -70px 0; }
footer div.sns_wrap a:nth-child(4) { background: url("../images/one_source_multi.png") no-repeat -105px 0; }

footer div.info_wrap { width: 100%; }
footer div.info_wrap > ul { display: flex; justify-content: space-between; width: 100%; padding: 0 16vw 0 25vw; }
footer div.info_wrap button { padding: 5px 0 10px 0; color: #fff; font-size : 0.938em; }
footer div.info_wrap a { color: #fff; font-size : 0.813em; }

footer div.help { display: flex; justify-content: space-between; width: 100%; padding: 0 22vw 0 25vw; }
footer div.help a { display: inline-block; color: #fff; font-size : 0.813em; text-align: center;}
footer p.copyright {  text-align: center; color: inherit; font-size : 0.75em; padding-top: 15px; }

footer a#arrow { opacity: 0; position: fixed; bottom: 3em; right: 3em; cursor: pointer; transition: all 0.3s ease-in-out; }
footer i.fas { font-size: 50px; color: #515151; } 
footer a#arrow.visible { opacity: 1; }

}

/* ====== desktop(end) ====== */



/*common css*/

